:root {
  overflow-y: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;

  .content {
    flex-grow: 1;
    margin: 4%;
  }
}

.content {
  .text-white {
    color: #fff;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .text-spaced {
    letter-spacing: 1px;
  }
}

.diagonal-stripes {
  background-color: #80CB43;
  background-image: repeating-linear-gradient(
    45deg,
    #80CB43 0px,
    #80CB43 200px,
    #5FAA22 200px,
    #5FAA22 400px
  );
  background-size: 100%;
}

.logo {
  max-width: 450px;
  padding-top: 25px;
}

.carousel-wrapper {
  position: relative;
  margin-bottom: 4rem;

  .carousel-list {
    display: flex;
    gap: 1.5em;
    padding: 16px;
    max-width: 90vw;

    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
    -ms-overflow-style: none;

    .item {
      flex-shrink: 0;
      margin-top: .25em;
      scroll-snap-align: center;

      .card {
        height: -webkit-fill-available;
        width: 25vw;
      }
    }
  }

  .carousel-list::-webkit-scrollbar {
    display: none;
  }
}

.card-img-top {
  padding: 10px;
  width: auto;
  max-width: -webkit-fill-available;
  max-height: 500px;
}

.shadow-svg-left {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, .25));
  path {
      transition: fill 0.3s ease;
  }
}

.shadow-svg-right {
  filter: drop-shadow(0px -4px 2px rgba(0, 0, 0, .25));
  path {
      transition: fill 0.3s ease;
  }
}

.shadow-svg-right:hover path, .shadow-svg-left:hover path {
  fill: #b3b3b3;
  transition: fill 0.3s ease;
}

.section-container {
  margin-bottom: 3.5rem;
}

.thumbnail-container {
    height: 350px;
    width: 350px;
    overflow: hidden;
    background: white;
    border-radius: 45px;
    border: 3px solid #BFBFBF;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    &.top {
      object-position: top;
    }
}

.navbar.transparent {
  background-color: transparent;
  background-image: none;
  gap: .75em;

  a.navbar-item {
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 1px;

    padding: 1rem 1.25rem;
    line-height: 1;
    border-radius: 6px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
  }
  a.navbar-item:hover {
    background-color: #000;
  }
}

.card {
  background-color: #F9F4F5;
  border: 5px solid #BFBFBF;
  border-radius: 45px;
}

button.chevron {
  text-decoration: none;
  font-weight: 100;
  padding-bottom: 1.5rem;
}

button.chevron:hover {
  background-color: transparent;
}