<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Digital art commissions by serenamidori">
    <title>serenamidori art</title>
    <link rel="icon" type="image/png" href="/css/assets/favicon-32x32.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </head>
  <body class="diagonal-stripes">

    <div class="logo">
      <a href="/">
        <img src="../css/assets/logo.png" alt="serenamidori logo">
      </a>
    </div>
    
    <nav class="navbar transparent" role="navigation" aria-label="main navigation">
      <a href="/" class="navbar-item">Commissions</a>
      <a href="/portfolio" class="navbar-item">Portfolio</a>
      <a href="/tos" class="navbar-item">TOS</a>
      <a href="/socials" class="navbar-item">Socials</a>
    </nav>

    <div class="content">
      {{ content }}
    </div>

  </body>
</html>
