<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Digital art commissions by serenamidori">
    <title>serenamidori art</title>
    <link rel="icon" type="image/png" href="/css/assets/favicon-32x32.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
  </head>
  <body class="diagonal-stripes">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100vh;">
      <img class="logo" src="../css/assets/logo.png" alt="serenamidori logo">

      <h1>► Currently Under Construction ◄</h1>
    </div>
  </body>
</html>
